#body{
	background-color:#FFE4C4;
}

#header{
	height:200px;
	width:1270px;
	position:absolute;
	padding:0px;
	margin:0px;
	background-color:#F5F5F5;
}

.h1-header{
	font-size:70px;
	color:#483D8B;
	position:absolute;
	padding:0px;
	margin:0px;
	top:50px;
	left:400px;
}

.p-header{
	font-size:15px;
	color:#000;
	position:absolute;
	padding:0px;
	margin:0px;
	top:120px;
	right:400px;
}

.img-header{
	height:200px
	width:200px;
	position:absolute;
	padding:0px;
	margin:0px;
	left:150px;
}

.section-main{
	height:800px;
	width:1000px;
	background-color:#DDA0DD;
	border-radius:100px;
	position:absolute;
	padding:20px;
	margin:50px;
	top:200px;
	left:100px;
}

.img1{
	height:300px;
	width:300px;
	box-shadow:0px 0px 50px #8B0000;
	border-radius:100px;
	position:absolute;
	padding:0px;
	margin:0px;
	top:30px;
	left:90px;
}

.img2{
	height:300px;
	width:300px;
	box-shadow:0px 0px 50px #006400;
	border-radius:100px;
	position:absolute;
	padding:0px;
	margin:0px;
	top:30px;
	right:90px;
}

.img3{
	height:300px;
	width:300px;
	box-shadow:0px 0px 50px #fff;
	border-radius:100px;
	position:absolute;
	padding:0px;
	margin:0px;
	bottom:100px;
	right:90px;
}

.img4{
	height:250px;
	width:250px;
	box-shadow:0px 0px 50px #00008B;
	border-radius:50%;
	position:absolute;
	padding:0px;
	margin:0px; 
	top:270px;
	left:400px;
}

.img5{
	height:300px;
	width:300px;
	box-shadow:0px 0px 50px #FFFF00;
	border-radius:100px;
	position:absolute;
	padding:0px;
	margin:0px;
	bottom:100px;
	left:90px;
}

.p-footer{
	font-size:60px;
	position:absolute;
	padding:0px;
	margin:0px; 
	top:1030px;
	right:200px;
}